button {
    /*width: 10em;*/
    /*height: 3em;*/
    font-size: 1em;
}
/*body{*/
/*    text-align: center*/
/*}*/
input{
    font-size: 1em;
}
option{
    font-size: 1em;
}
select{
    font-size: 1em;
}
form{
    font-size: 1em;
}